<div ng-controller='LoginController as loginCtrl'>
    <form>
        <div class="form-group">
            <label for="host">Host:</label>
            <input type="text" ng-model="loginCtrl.user.host" id="host" class="form-control" placeholder="Host">
        </div>
        <div class="form-group">
            <label for="user-name">User name:</label>
            <input type="text" ng-model="loginCtrl.user.name" id="user-name" class="form-control" placeholder="User name">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" ng-model="loginCtrl.user.password" id="password" class="form-control" placeholder="Password">
        </div>
        <button ng-click="loginCtrl.login()" class="btn btn-default">Login</button>
    </form>
</div>